.site-navigation
  padding .5% 0
  width: 100%
  background-color: #2c3e50;
  .container
    padding-bottom: 0


.banner-wrapper
  min-height 100px
  margin-bottom: 4%
  background-color: black
  background-blend-mode multiply
  position relative
  img
    min-height 100px
    opacity 0.6


  .page-main-title
    position absolute
    z-index 2
    color white
    font-size: 4vh;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


.navbar
.navbar-default
  margin-bottom: 0

#main-menu
  float right
  a
    text-transform: uppercase;
    color white
    &:hover
      color #ff4848

  .active
    a
      color #ff4848
      background-color: transparent

.navbar-brand
  margin-top: 3px
  padding: 0
  img
    width 80%
    display: inline-block

.header-logo
  float left
