.red-section
  background-color: #ff4848;
  padding 5% 0 10% 0
  color white

.pl-0
  padding-left: 0

.pr-0
  padding-right: 0

.white-section
  padding-top: 5%
  h1
    font-weight: 700
    font-size: 36px;
    text-transform uppercase
    color: #004966;

  p
    color: #004966;
    font-size 18px
    font-weight: 300;
    line-height: 24px;
    
.blue-section
  background-color: #004966
  text-align center
  color white
  h1
    font-size: 36px;
    font-weight: 300;

  p
    padding: 0px 20%
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

.main-content-inner
  padding-bottom 0


.offer
  p
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding 0

.latest-works
  text-align center

  padding 5% 0
