.widget
  background-color: #004966
  padding: 8%

.widget-title
  margin 5% 0 10% 0
  text-align center
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;

.search-form
  label
    width: 100%
  input
    width: 100%
    border: 1px solid #ffffff
    border-radius 0
    background-color: transparent
    font-size: 18px
    font-weight: 700
    padding: 25px 20px

.widget_categories
  ul li a
    padding: 0
    font-size: 22px;
    font-weight: 400;
    color white
    &:hover
      background-color: transparent
      color darkred

.es_caption
  font-size: 12px;
  font-weight: 300;
  color white
  margin: 5% 0
  padding-right: 30%

.es_lablebox
  display: none

.es_textbox
  margin: 10% 0%
  input
    width: 100%
    border: 1px solid #ffffff
    border-radius 0
    background-color: transparent
    font-size: 18px
    font-weight: 700
    padding: 10px 20px

.es_button
  margin 5% 0
  input
    width 100%
    padding: 10px 20px
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    background-color: #ff4848;
    &:hover
      background-color: #ff0003;


